:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 600px;
  border: 1px solid #dadce0;
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

  .title {
    width: 100%;
    background: #2ecc7154;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    padding: 20px 50px 40px 50px;

    > * {
      width: 100%;
      margin: 10px 0;
    }

    > input {
      border-radius: 10px;
      padding: 10px;
      border: 1px solid #dadce0;
      outline: none;
    }

  }
}


.tabs-container {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  overflow: hidden;

  .content {
    padding: 10px;
  }

  .tabs {
    display: flex;
    flex-direction: row;

    div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      cursor: pointer;
      padding: 10px;
      background-color: #ebebeb;


      &.checked {
        background-color: white;
        cursor: default;
      }

      &:first-child {
        border-left: 1px solid gray;
      }
    }
  }
}

.tags-container {
  display: flex;
  align-items: center;
}

.submit {
  transition: 0.3s;
  &:hover {
    filter: brightness(0.9);
  }
}
