<div class="container">
  <span class="title">העלאה</span>
  <div class="content">
    <input placeholder="כותרת" type="text" [(ngModel)]="title"/>
    <app-search [tags]="tags" [showSearchButton]="false"></app-search>

    <div class="tabs-container">
      <div class="tabs">
        <div (click)="typeChanged('web')" [class.checked]="type==='web'">אתר</div>
        <div (click)="typeChanged('image')" [class.checked]="type==='image'">תמונה</div>
      </div>
      <div class="content">
        <input *ngIf="type==='web'" placeholder="כתובת אתר" type="text" [(ngModel)]="value"/>
        <input *ngIf="type==='image'" type="file" (change)="handleFileInput($event)" accept="image/*"/>
      </div>
    </div>

    <input class="submit" type="button" (click)="selectedTags()" value="שלח">
  </div>
</div>
