:host {
  display: flex;
  align-items: center;
}

.tag {
  background: #f1f3f4;
  height: max-content;
  width: max-content;
  padding: 4px 10px;
  margin: 2px;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &:hover {
    filter: brightness(0.9);
  }

  .x-icon {
    color: #6b6f70;
    font-size: 13px;
    margin-left: 3px;
    cursor: pointer;
  }
}
