:host {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  padding: 15px;
  font-size: 20px;
  flex-direction: column;
  width: 578px
}

.image-content {
  height: 300px;
  display: flex;

  img {
    height: 100%;
  }
}

.web-content {
  display: flex;

  iframe {
    width: 100%;
  }
}

.title {
  margin-bottom: 10px;
  border-bottom: 1px solid #dadce0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title-text {
    font-weight: bold;
  }
}


.tags-container {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 15px;
}
