<div class="title">
  <span class="title-text">{{dataType.title}}</span>
  <app-tags class="tags-container" [tags]="dataType.tags" [showX]="false"></app-tags>
</div>


<div *ngIf="dataType.type === 'image'" class="image-content">
  <img [src]="dataType.data"/>
</div>
<div *ngIf="dataType.type === 'web'" class="web-content">
  <a *ngIf="!previewService.preview" [href]="dataType.data">{{dataType.data}}</a>
  <iframe *ngIf="previewService.preview" [src]="'\''+dataType.data+'\''"></iframe>
</div>


