:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.settings {
  position: fixed;
  top: 65px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-types-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.search {
  margin: 10px;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 3em;
    color: #188546;
    margin-top: -100px;
  }

  .loader {
    ::ng-deep {
      div {
        --color: #188546;
      }
    }
  }
}

