<app-search class="search" [tags]="tags" (searchTags)="searchTags($event)"></app-search>
<div class="settings">
  <span>preview</span>
  <input type="checkbox" (click)="changePreview(!preview)"/>
</div>
<div class="data-types-container">
  <app-data-type *ngFor="let dataType of dataTypes" [dataType]="dataType"></app-data-type>
</div>

<div class="container" *ngIf="dataTypes?.length === 0 || dataTypes === null">
  <app-loader class="loader" *ngIf="dataTypes === null"></app-loader>
  <span *ngIf="dataTypes?.length === 0">אין תוצאות</span>
</div>
