:host {
  width: 100%;
  height: 50px;
  background-color: #2ECC71;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  outline: none;
  width: 120px;
  object-fit: contain;
  cursor: pointer;

  span {
    font-size: 2em;
  }

  .icon {
    height: 60%;
    padding-left: 5px;
  }
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  outline: none;
  background: #2ecc71;
  transition: 0.3s;
  color: white;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}


