:host {
  width: 582px;
}

.search-box {
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
  }

  input {
    flex: 1;
    border: 0;
    outline: 0;
    padding: 10px;
  }

  .search-icon {
    margin-left: 14px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
