<div class="search-box">
  <app-tags [(tags)]="tags"></app-tags>
  <input type="text" placeholder="תיוגים" [(ngModel)]="searchText" (keyup.enter)="enterClicked()"/>
  <i class="search-icon fa fa-search" *ngIf="showSearchButton" (click)="search()"></i>
</div>
